.statistics {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  /* outline: 1px solid red; */
  background-color: rgb(240, 235, 235);
  max-width: 320px;
  border-radius: 4px;
  filter: drop-shadow(4px 4px 4px rgba(55%, 55%, 55%, 0.6));
  box-shadow: 0 0 20px rgba(55%, 55%, 55%, 0.5);
  overflow: hidden;
}

.title {
  padding: 25px 0;
}

.statList {
  display: flex;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(172, 170, 170);
  padding: 15px 0px;
  background-color: gainsboro;
  width: 100%;
}

.label {
  font-size: 12px;
  font-weight: 300;
}

.percentage {
  font-size: 16px;
  font-weight: 500;
}
